.navbar-container {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: .1em;
}

.navlink {
    text-decoration: none;
    color: white !important;
}

.navlink:hover {
    text-decoration: none;
    color: white;
}

.nav-link:active {
    text-decoration: none;
    color: white;
}

.navlink-dd {
    color: black;
}

#nav-dropdown {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.selected {
    font-weight: bold;
}